{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{presentation.name}}</title>
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="{{STATIC_URL}}css/themes/theme_{{ presentation.theme_id }}.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/impress-progress.css" rel="stylesheet" />
    <link id="impress-console-css" href="{{STATIC_URL}}css/impressConsole.css" rel="stylesheet" />
</head>

<body class="impress-not-supported">

<div class="fallback-message">
	{% trans 'fallback-message' %}
</div>

<div id="impress">

{% autoescape off %}

	{% for slide in slides %}
    	<div class="step" id="step-{{forloop.counter0}}" data-x="{{slide.pos_x}}" data-y="{{slide.pos_y}}" data-scale="{{slide.scale}}"
    	{% if slide.rotation_x %}
    		data-rotate-x="{{slide.rotation_x}}"
    	{% endif %}
    	{% if slide.rotation_y %}
    		data-rotate-y="{{slide.rotation_y}}"
    	{% endif %}
    	{% if slide.rotation_z %}
    		data-rotate-z="{{slide.rotation_z}}"
    	{% endif %}
    	{% if slide.background_color %}
    		data-background-color="{{slide.background_color}}"
    	{% endif %}
    	>
    		{% for component in slide.components %}
    			<div class="{{component.type}} {{component.text_type}}"
    			style="
    			position: absolute;
    			top:{{component.pos_y}}px;
    			left:{{component.pos_x}}px;
                -webkit-transform: rotate({{ component.rotation }}deg);
                -moz-transform: rotate({{ component.rotation }}deg);
                -o-transform: rotate({{ component.rotation }}deg);
                -ms-transform: rotate({{ component.rotation }}deg);

                {% if component.type == "text" %}
        			{% if component.bold == True %}
        				font-weight:bold;
        			{% endif %}
        			{% if component.italic == True %}
        				font-style:italic;
        			{% endif %}
        			{% if component.underlined == True %}
        				text-decoration:underline;
        			{% endif %}
        			{% if component.color %}
        				color: {{component.color}};
        			{% endif %}
        			{% if component.font_size %}
        				font-size: {{component.font_size}}em;
        			{% endif %}
    			{% endif %}
    			{% if component.type == "image" %}
    			    width: {{component.size}}px;
    			{% endif %}
    			{% if component.type == "video" %}
    			    width: {{component.size}}%;
    			{% endif %}

    			"
    			>

    			{% if component.type == "text" %}
    			{{component.content}}
    			{% endif %}

                {% if component.type == "image" %}
                <img src="
                {% if component.file %}
                	/media/images/{{component.file}}
                {% else %}
                	{{component.external_url}}
                {% endif %}
                " style="width:100%">
                {% endif %}

                {% if component.type == "video" %}
                <div class='title component-preview' style='position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;display:block;'>
					<iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src="//www.youtube.com/embed/{{component.url_id}}" frameborder="0" allowfullscreen></iframe>
                </div>
                {% endif %}

    			</div>
    		{% endfor %}

    		<div class="notes"> {{ slide.notes }} </div>

    	</div>
    {% endfor %}

{% endautoescape %}

</div>

<div class="progressbar">
	<div></div>
</div>
<div class="progress"></div>

<div id="help-box">
	<table>
		<tbody>
			<tr>
				<th>Space</th><td>Forward</td>
			</tr>
			<tr>
				<th>Left, Down, Page Down</th><td>Next slide</td>
			</tr>
			<tr>
				<th>Right, Up, Page Up</th><td>Previous slide</td>
			</tr>
			<tr>
				<th>P</th><td>Open presenter console</td>
			</tr>
			<tr>
				<th>H</th><td>Toggle this help</td>
			</tr>
		</tbody>
	</table>
</div>

<script src="{{STATIC_URL}}js/impress-progress.js"></script>
<script src="{{STATIC_URL}}js/impress.js"></script>
<script src="{{STATIC_URL}}js/impressConsole.js"></script>
<script>
	impress().init();
	impressConsole().init(css=document.getElementById("impress-console-css").href);

// Set up the help-box
var helpdiv = window.document.getElementById('help-box');

if (window.top!=window.self) {
    // This is inside an iframe, so don't show the help.
    helpdiv.className = "disabled";
} else {
    // Install a funtion to toggle help on and off.
    var help = function() {
        if(helpdiv.className == 'hide')
            helpdiv.className = 'show';
        else
            helpdiv.className = 'hide';
    };
    impressConsole().registerKeyEvent([72], help, window);

    // The help is by default shown. Hide it after five seconds.
    setTimeout(function () {
        var helpdiv = window.document.getElementById('help-box');
        if(helpdiv.className != 'show')
            helpdiv.className = 'hide';
    }, 5000);
}


if (impressConsole()) {
    impressConsole().init(cssFile=document.getElementById("impress-console-css").href);

    var impressattrs = document.getElementById('impress').attributes;
    if (impressattrs.hasOwnProperty('auto-console') && impressattrs['auto-console'].value.toLowerCase() === 'true') {
        consoleWindow = impressConsole().open();
    }
}
</script>
</body>
</html>
